.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
  background-color: var(--primary-color);
  border-radius: 15px;
  padding: 1.5rem 0;
}

button {
  padding: 2rem 0;
  border: none;
  border-radius: 15px;
  color: var(--button-text-color);
  background-color: var(--highlight-color);
  font-size: 2rem;
  cursor: pointer;
}

h2 {
  font-size: 15rem;
}

p {
  font-size: 1.5rem;
}

.subject {
  font-size: 1.7rem;
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 2rem;
}

button:hover {
  background-color: #d394fa;
}
