h1 {
  font-size: 4.6rem;
  font-weight: 100;
  color: var(--typography-color);
  display: contents;
}

span {
  font-weight: 800;
}

p {
  font-size: 1.4rem;
  font-style: italic;
  color: var(--typography-color);
  margin-top: 2rem;
}
