<span class="title">
  <app-text type="emphasis" size="4rem">Invoices</app-text>
  @if(!!invoices().length){
  <app-text size="1.3rem"
    >There are {{ invoices().length }} total invoices</app-text
  >
  }@else {
  <app-text>No invoices</app-text>
  }
</span>

<span class="actions">
  <app-filter></app-filter>

  <app-button>
    <app-icon
      imgSrc="/assets/images/icon-plus.svg"
      altText="icon-plus"
      [height]="13"
      [width]="13"
    ></app-icon>
    <p>New Invoice</p>
  </app-button>
</span>
