div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--white);
  padding: 3rem 1rem;
  border-radius: 8px;
  cursor: pointer;
  border: 2px solid transparent;
  transition: 0.2s border;
}

div:hover {
  border: 2px solid var(--primary-color);
}

p {
  display: inline-block;
  color: var(--tertiary-color);
}

app-badge {
  border-radius: 8px;
}

span {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.left {
  text-align: left;
  width: 60%;
}

.right {
  text-align: right;
  width: 40%;
  gap: 3rem;
}

app-text {
  width: 13rem;
}
