button {
  padding: 1rem 1.3rem;
  background-color: var(--tertiary-color);
  border: none;
  color: #fff;
  border-radius: 30px;
  display: flex;
  gap: 1.7rem;
  justify-content: center;
  align-items: center;
  font-size: 1.7rem;
  cursor: pointer;
}
