::ng-deep app-invoices,
::ng-deep app-invoice {
  display: flex;
  width: 94vw;
  padding-top: 10rem;
  justify-content: center;
  background-color: var(--light-bg);
}

::ng-deep app-invoice {
  padding-top: 5rem;
}

main {
  width: 100vw;
  display: flex;
}

app-sidebar {
  width: 12rem;
  background-color: var(--sidebar-color);
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  overflow: hidden;
  position: relative;
  z-index: 5;
  min-height: 100vh;
}

app-form {
  position: absolute;
  top: 0;
  left: 10rem;
  background-color: var(--white);
  width: 45%;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  transform: translateX(-50rem);
  transition: transform 0.5s;
  animation: slidein 0.5s forwards;
  z-index: 4;
  padding: 2rem 4rem;
  display: flex;
  flex-direction: column;
}

@keyframes slidein {
  from {
    transform: translateX(-50rem);
  }
  to {
    transform: translateX(0);
  }
}

@media (max-width: 940px) {
  main {
    flex-direction: column;
    position: relative;
  }

  ::ng-deep app-invoices,
  ::ng-deep app-invoice {
    display: flex;
    width: 100vw;
    padding-top: 6rem;
    min-height: 100vh;
  }

  app-sidebar {
    width: 100%;
    height: 9rem;
    background-color: var(--sidebar-color);
    border-radius: 0;
    overflow: visible;
    padding: 1rem 0;
    min-height: 0;
  }

  app-form {
    top: 9rem;
    left: 0;
    width: 85%;
    transform: translateX(-50rem);
    transition: transform 0.5s;
    animation: slidein 0.5s forwards;
    z-index: 4;
    padding-top: 3.5rem;
  }
}

@media (max-width: 575px) {
  app-sidebar {
    height: 12rem;
  }

  app-form {
    padding-top: 5.5rem;
  }
}

@media (max-width: 465px) {
  app-sidebar {
    height: 9rem;
  }

  app-form {
    width: 100%;
    padding: 3rem;
    padding-top: 4rem;
  }
}
