::ng-deep app-invoices,
::ng-deep app-invoice {
  display: flex;
  width: 94vw;
  padding-top: 10rem;
  justify-content: center;
  background-color: var(--light-bg);
}

::ng-deep app-invoice {
  padding-top: 5rem;
}

main {
  width: 100vw;
  display: flex;
}

app-sidebar {
  width: 6vw;
  background-color: var(--siderbar-color);
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  overflow: hidden;
  position: relative;
}
