@if(!isSubmitted){
<app-heading [headingText]="heading" [detailsText]="details"></app-heading>
<app-overview-card></app-overview-card>
<div>
  <app-button
    text="Go Back"
    color="var(--grey)"
    hoveredColor="var(--denim)"
    hoveredBgColor="transparent"
    backgroundColor="transparent"
    [url]="'/signup/add-ons'"
  ></app-button>
  <app-button
    backgroundColor="var(--purple)"
    hoveredBgColor="var(--highlight)"
    text="Confirm"
    (onSubmit)="handleSubmit($event)"
    [disabled]="!isFormValid"
  ></app-button>
</div>
}@else{
<app-wrapped-up-card></app-wrapped-up-card>
}
