form {
  margin-top: 5rem;
}

.input-field {
  display: flex;
  gap: 1rem;
  justify-content: flex-start;
  flex-direction: column;
  margin-top: 2.5rem;
}

footer {
  margin-top: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer span {
  display: flex;
  gap: 2rem;
  align-items: center;
}

.sender-address {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  margin-bottom: 4rem;
}

.address {
  display: flex;
  gap: 5%;
}

.address .input-field {
  width: 30%;
}

.dates {
  display: flex;
  gap: 10%;
}

.dates .input-field {
  width: 45%;
}

.grid-row {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr;
  gap: 2rem;
}

.items {
  margin: 4rem 0;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

input {
  padding: 1rem;
  border: 1px solid var(--tertiary-color);
  border-radius: 6px;
  outline: none;
}

input:active,
input:focus {
  outline: 1px solid var(--primary-color);
}

.due-date-dropdown {
  position: relative;
  display: inline-block;
  width: 100%;
  cursor: pointer;
  color: var(--base-black);
  font-size: 1.2rem;
  margin-top: auto;
  border: 1px solid var(--tertiary-color);
  border-radius: 6px;
  padding: 2px 0;
}

app-icon {
  margin-left: 1rem;
}

.due-date-display {
  padding: 10px;
  border-radius: 4px;
  text-align: center;
  user-select: none;
}

.due-date-display span {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.due-date-options {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: #fff;
  box-shadow: 0 8px 8px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  margin-top: 1rem;
  border: none;
  padding: 2rem 0;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  color: var(--secondary-color);
  transition: 0.3s all;
}

.due-date-options label {
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
  user-select: none;
  padding: 0.5rem 0;
}

label p {
  font-weight: 600;
  font-size: 1.3rem;
}

.due-date-options label:hover p {
  color: var(--primary-color);
}

hr {
  border: 1px solid var(--tertiary-color);
  opacity: 0.1;
}

input[type="radio"] {
  visibility: hidden;
}

input[type="radio"]:checked + p {
  color: var(--primary-color);
}

.grid-row-input {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr;
  gap: 5%;
}

.grid-row-input input {
  width: 100%;
}

.grid-row-input span {
  display: flex;
  align-items: center;
}

#total {
  border: none;
  background-color: transparent;
  padding-left: 0;
}

app-text {
  color: red;
}
