::ng-deep app-signup-page {
  display: block;
  width: 100%;
  background-color: var(--very-light-grey);
  height: 100vh;
  padding: 10rem 18rem;
}

::ng-deep app-homepage {
  overflow: hidden;
}

::ng-deep app-page-not-found {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 10rem;
}

@media (max-width: 1150px) {
  ::ng-deep app-signup-page {
    padding: 4rem 8rem;
  }
}

@media (max-width: 850px) {
  ::ng-deep app-signup-page {
    padding: 0;
  }
}
