@for(plan of plans; track $index){
<div
  class="card"
  [ngClass]="{ 'card--selected': selectedPlan.name === plan.name }"
  (click)="onSelect($index)"
>
  <input
    type="radio"
    name="plan"
    class="card__btn"
    [checked]="selectedPlan.name === plan.name"
    [value]="plan.name"
    readonly
  />
  <img [src]="plan.icon" [alt]="plan.name + '-icon'" class="card__image" />
  <span>
    <h4 class="card__name">{{ plan.name }}</h4>
    <p class="card__price">{{ plan.price[subscriptionPlan] }}</p>
    @if(subscriptionPlan === 'yearly'){
    <p class="card__promo">2 months free</p>
    }
  </span>
</div>
}
