:root {
  --highlight-color: #a729f5;
  --background-color: #f4f6fa;
  --primary-color: #fff;
  --correct-color: #26d782;
  --wrong-color: #ee5454;
  --typography-color: #313e51;
}

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: content-box;
}

html {
  font-size: 62.5%;
}

body {
  padding: 5rem 20rem;
  background-color: var(--background-color);
  font-family: sans-serif;
  color: var(--typography-color);
}
