<form (ngSubmit)="onSubmit()" [formGroup]="myForm">
  <app-plan-card></app-plan-card>
  <app-subscription-toggle></app-subscription-toggle>
  <div>
    <app-button
      [url]="'/signup/personal-info'"
      text="Go Back"
      backgroundColor="transparent"
      color="var(--grey)"
      hoveredBgColor="transparent"
      hoveredColor="var(--denim)"
    ></app-button>
    <app-button
      [url]="'/signup/add-ons'"
      text="Next Step"
      type="submit"
      [disabled]="!(isFormValid$ | async)"
    ></app-button>
  </div>
</form>
