<div class="filter-dropdown">
  <div class="filter-display">
    <span>
      Filter by status
      <app-icon
        imgSrc="/assets/images/icon-arrow-down.svg"
        altText="down-arrow"
        [height]="9"
        [width]="14"
      ></app-icon>
    </span>
  </div>
  <div class="filter-options">
    <label>
      <input type="checkbox" value="Draft" />
      <span>Draft</span>
    </label>
    <label>
      <input type="checkbox" value="Pending" />
      <span>Pending</span>
    </label>
    <label>
      <input type="checkbox" value="Paid" />
      <span>Paid</span>
    </label>
  </div>
</div>
