.due-date-dropdown {
  position: relative;
  display: inline-block;
  width: 100%;
  cursor: pointer;
  color: var(--base-black);
  font-size: 1.2rem;
  border: 1px solid var(--tertiary-color);
  border-radius: 6px;
  padding: 2px 0;
}

[altText="right-arrow"] {
  margin-left: 1rem;
}

.due-date-display {
  padding: 10px;
  border-radius: 4px;
  text-align: center;
  user-select: none;
}

.due-date-display span {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.due-date-options {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: var(--filter-bg);
  box-shadow: 0 8px 8px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  margin-top: 1rem;
  border: none;
  padding: 2rem 0;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  color: var(--secondary-color);
  transition: 0.3s all;
}

.due-date-options label {
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
  user-select: none;
  padding: 0.5rem 0;
  color: var(--date-color);
}

label p {
  font-weight: 600;
  font-size: 1.3rem;
}

.due-date-options label:hover p {
  color: var(--primary-color);
}

hr {
  border: 1px solid var(--tertiary-color);
  opacity: 0.1;
}

input[type="radio"] {
  visibility: hidden;
}

input[type="radio"]:checked + p {
  color: var(--primary-color);
}
