<main>
  <header>
    <h1>Lorem Gaming</h1>
  </header>
  <section>
    <div class="description">
      <span>
        <h3>Welcome to</h3>
        <h2>Lorem Gaming</h2>
      </span>
      <p>
        Are you ready to level up your gaming experience? Whether you're a
        casual player, an eSports enthusiast, or a developer looking to create
        the next big hit, we’ve got you covered. Join us and experience the
        future of gaming today.
      </p>
      <a routerLink="/signup">Let's Get Started &RightArrow;</a>
    </div>
    <div class="image">
      <img src="assets/images/homepage-illustration.svg" alt="illustration" />
    </div>
  </section>
</main>
