<h1>Invoice App</h1>
<form>
  <app-text type="emphasis" size="2.5rem">Welcome Back!</app-text>
  <div class="input-field">
    <span class="labels">
      <label>Username</label>
    </span>
    <app-text-field placeholder="Username" value=""></app-text-field>
  </div>
  <div class="input-field">
    <span class="labels">
      <label>Password</label>
    </span>
    <app-text-field placeholder="Password" value=""></app-text-field>
  </div>
  <app-button type="normal">Login</app-button>
</form>
