section {
  background-color: white;
  border-radius: 20px;
  overflow: hidden;
  display: flex;
  height: 100%;
}

app-sidebar {
  width: 32%;
  display: block;
  background-image: url("/images/bg-sidebar-desktop.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 20px;
  margin: 1rem;
}

::ng-deep app-personal-info-tab,
::ng-deep app-plan-tab,
::ng-deep app-add-ons-tab,
::ng-deep app-summary-tab {
  width: 68%;
  display: flex;
  flex-direction: column;
  gap: 4rem;
  padding: 7rem;
  view-transition-name: tab;
}

@media (max-width: 900px) {
  ::ng-deep app-personal-info-tab,
  ::ng-deep app-plan-tab,
  ::ng-deep app-add-ons-tab,
  ::ng-deep app-summary-tab {
    padding: 7rem 4rem;
  }
}

@media (max-width: 850px) {
  section {
    flex-direction: column;
    border-radius: 0px;
    background-color: var(--very-light-grey);
    align-items: center;
    position: relative;
  }

  app-sidebar {
    width: 100%;
    margin: 0;
    border-radius: 0px;
    height: 30%;
    background-size: cover;
    background-position: center 80%;
  }

  ::ng-deep app-personal-info-tab,
  ::ng-deep app-plan-tab,
  ::ng-deep app-add-ons-tab,
  ::ng-deep app-summary-tab {
    position: absolute;
    background-color: var(--white);
    top: 15%;
    width: 80%;
    height: fit-content;
    padding: 4rem;
    z-index: 2;
  }
}

@media (max-width: 550px) {
  ::ng-deep app-personal-info-tab,
  ::ng-deep app-plan-tab,
  ::ng-deep app-add-ons-tab,
  ::ng-deep app-summary-tab {
    width: 90%;
  }
}
