main {
  display: flex;
  gap: 5rem;
  justify-content: center;
  margin-top: 5rem;
}

app-answer {
  width: 50%;
  position: relative;
}

app-question {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media (max-width: 800px) {
  main {
    flex-direction: column;
    align-items: center;
  }

  app-answer {
    width: 80%;
  }

  app-question {
    width: 80%;
  }
}
