button {
  background-color: var(--denim);
  color: var(--white);
  padding: 1.2rem 2.5rem;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  font-size: 1.6rem;
}

button:hover {
  background-color: var(--hover);
}

button:disabled {
  cursor: not-allowed;
}
