@font-face {
  font-family: "Ubuntu";
  src: url("/fonts/Ubuntu-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Ubuntu";
  src: url("/fonts/Ubuntu-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

:root {
  --bg: #eff5ff;
  --border-color: #d6d9e6;
  --white: #ffffff;
  --grey: #9699aa;
  --very-light-grey: #f8f9ff;
  --blue: #483eff;
  --light-blue: #abbcff;
  --sky-blue: #bee2fd;
  --denim: #022959;
  --error: #ee374a;
  --purple: #483eff;
  --hover: #164a8a;
}

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: Ubuntu;
}

::view-transition-old(tab) {
  animation: slide-out 300ms ease-out forwards;
}

::view-transition-new(tab) {
  animation: slide-in 300ms ease-in forwards;
}

@keyframes slide-out {
  from {
    opacity: 1;
    transform: translateX(0);
  }
  to {
    opacity: 0;
    transform: translateX(-100%);
  }
}

@keyframes slide-in {
  from {
    opacity: 0;
    transform: translateX(100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
