@font-face {
  font-family: "Ubuntu";
  src: url("/assets/fonts/LeagueSpartan-VariableFont_wght.ttf")
    format("truetype");
}

:root {
  --tertiary-color: #7c5dfa;
  --text-secondary-color: #0c0e16;
  --text-primary-color: #888eb0;
  --accent-color: #dfe3fa;
  --filter-typography-color: #1e2139;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "League Spartan", sans-serif;
  display: flex;
  justify-content: center;
  width: 100vw;
  color: var(--text-primary-color);
  letter-spacing: 0.5px;
}
