.add-on {
  display: flex;
  align-items: center;
  border: 1px solid var(--border-color);
  gap: 3rem;
  padding: 2.6rem 2rem;
  border-radius: 10px;
  font-size: 1.4rem;
  cursor: pointer;
  transition: 0.3s;
}

.add-on--selected {
  border: 1px solid var(--purple);
  background-color: var(--very-light-grey);
}

.add-on.add-on:hover {
  border: 1px solid var(--purple);
}

.add-on__checkbox {
  width: 2rem;
  height: 2rem;
}

.add-on__details h4 {
  font-size: 1.8rem;
  color: var(--denim);
  margin-bottom: 1rem;
}

.add-on__details p {
  color: var(--grey);
}

.add-on__price {
  margin-left: auto;
  color: var(--purple);
}
